.site-wrapper {
    margin-top: 110px;
}

.text-center {
    margin-top: 20px;
}

.navbar {
	-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	-moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}


.info-wrapper {
    padding: 5px;
    text-align: left;
}

.info-wrapper {
	padding: 0 5px;
}

.validation-msg {
	padding: 15px;
}

.hidden {
    display: none;
}
td {
    border-right: 0px !important;
}

#time {
    font-size: 34px;
    font-family: 'Orbitron', sans-serif;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

label {
    padding: 5px;
}

.delete {
    padding: 3px !important; 
    width: 90px;
    border-left: 0px !important;
}

.delete > button {
    width: 140px;
}

.table {
    width: 80%;
}

.headTable :first-child {
    width: 15px;
}

.headTable :nth-child(2) {
    width: 25%;
}
.headTable :nth-child(4) {
    width: 35%;
}